<div class = "container">
  <div class = "row">
    <h3>User info</h3>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
      <table class = "table">
        <tbody>
          <tr>
            <th scope="row">name</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th scope="row">introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>

      <h2>New book</h2>
        <%= form_with model: @book_new, local:true do |f| %>
        <div class = "field">
          <%= f.label :title %><br />
          <%= f.text_field :title %>
        </div>
        <div class = "field">
          <%= f.label :body %><br />
          <%= f.text_area :body %>
        </div>
        <div class = "actions">
          <%= f.submit "Create Book" %>
        </div>
        <% end %>
      <% end %>

      <h2>Book detail</h2>
        <div class = "table">
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %>
                  <%= @book.user.name %>
                <% end %>
              </td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
            </tr>
          </tbody>
        </div>
      <% end %>
  </div>
</div>